.container{
    margin-bottom: 100px;
}
.slide-img{
    margin-top: 150px;
}
.light-orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}


.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right, #FF9D32 0%, #FFCB26 100%);
}
.cat2{
    background-image: linear-gradient(to top, #F5396C 0%, #FF6194 100%);
}
.cat3{
    background-image: linear-gradient(to left, #3C20FF 0%, #4380FF 100%);
}
.categories h1{
    color: white;
}
.categories img{
    width: 110px;
}


.section-title{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}


#contact-us{
    height: 300px;
}
#contact-us h6{
    color: gray;
}
.contact{
    text-align: center;
}
.contact input{
    margin-bottom: 10px;
}


footer{
    text-align: center;
}